body {
	border: 0px solid black;
}

.center {
  margin: auto;
  width: 374px;
  border: 0px solid #73AD21;
  margin-top: 200px;
}

#img {
	margin-left: 38px;
}

#unpack {
	text-align: center;
	font-size: 40px;
	font-family: Verdana;
}

#box {
	margin-left: 12px;
}

.mum {
	margin-left: 30px;
}