.center {
  margin: auto;
  width: 374px;
  margin-top: 200px;
}

#img_box {
	margin-left: 38px;
}

#unpack {
	text-align: center;
	font-size: 40px;
	font-family: Verdana;
}

#gift_box {
	margin-left: 12px;
}

.mum_start {
	margin-left: 30px;
}